.profile__avatar-button {
    display: flex;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    cursor: pointer;
    margin-left: 18px;
    opacity: 1;
    background-color: #000;
}

.profile__avatar-button:hover {
    background-image: url(../../../images/profile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    opacity: 0.6;
}
